/* fonts */
@font-face {
  font-family: 'jetbrains_mono';
  src: url('../fonts/JetBrainsMono-VariableFont_wght.ttf');
}

/* general styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.inline-block {
  display: inline-block;
}

.box-shadow {
  box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.5);
}

.max-width {
  max-width: 48rem;
  margin: auto;
}

.part {
  display: grid;
  place-items: center;
  margin-bottom: 1.5rem;
}

input[type=text] {
  font-size: 1.5rem;
  padding: 1rem;
  font-weight: 900;
  color: #19191a;
  text-align: center;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

label {
  font-size: 1.5rem;
  font-weight: 900;
  padding: 1rem;
  color: #ecdda2;
}


/* body styles */
body {
  font-family: 'jetbrains_mono';
  font-weight: 400;
  background-color: #19191a;
  margin: auto;
}

/* header */
header {
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  background-color: #373739;
  width: 100%;
  max-width: 100%;
}

h1 {
  font-weight: 900;
  font-size: 3rem;
  padding: 1rem 2rem;
  color: #ecdda2;
}

/* content */
#content {
  padding-top: 5.938rem;
}

/* main content */
main {
  display: grid;
  place-items: center;
  height: calc(100vh - 9.7vh)
}

form {
  padding: 1rem;
  display: grid;
  place-items: center;
  /* align inputs -> center */
}

/* footer */
footer {
  padding: 1rem;
}

footer p {
  padding-bottom: 1rem;
  color: #aaaaaa;
  font-weight: 900;
  font-size: 1.1rem;
  text-align: center;
}

footer ul {
  padding: 0rem 1rem 1rem 1rem;
  list-style: none;
  display: grid;
  place-items: center;
}

footer ul li {
  margin-bottom: 0.5rem;
}

footer ul li a {
  text-decoration: none;
  color: #878788;
  transition: color 0.2s;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -ms-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: font-size 0.2s;
  -webkit-transition: font-size 0.2s;
  -moz-transition: font-size 0.2s;
  -ms-transition: font-size 0.2s;
  -o-transition: font-size 0.2s;
  padding: 0.5rem;
  
}

footer ul li a:hover {
  color: #aaaaaa;
  font-size: 1.1rem;
}